*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   /*  background:rgb(0, 128, 43);  */
 /*   background: rgb(123, 123, 123); */
   
}

header{
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  /*   background: rgb(16, 214, 115); */
}
#root{
    width: 100%;
}
.escala:hover{
    transform: scale(1.2);
    background: white !important;
    color:black !important;
    border-radius: 11px;
    border:1px solid grey;
    transition: all 0.5s;
}
h1{
    color:darkslategrey;
    font-style: oblique;
    margin-right: 30px;
    text-shadow: 0 0 1px black,
    0 0 2px black,
    0 0 4px black;
    width: 40%;
    margin-left: 30px !important;
}
.table-1{
    width:100%;
    height: auto;
    margin-right: auto;
   /*  border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     text-align: center;
    /* columns: 6; */
   /*  background: white; */
    opacity: 0.9;
}

table{
    display: none;
    
}
.table-2-on{
    width: 33% !important;
/*     border:7px solid rgb(0, 128, 43); */
    border:10px solid rgb(16, 214, 115); 
    height: auto;
    background: white;
   /*   opacity: 0.7;   */
   font-family:verdana;
   font-weight: bold;
    margin-top: 50px !important;
    margin-right: 10px !important;
    margin: auto;
    display: block;
    text-align: center;
    border-collapse: collapse;
    float: right;
    
}
#table>tbody>tr>td{
    font-size: 12px;
    width: 25%;
    border:2px solid rgb(16, 214, 115);
    padding: 5px;
    box-sizing: border-box;
    color:white;
}
.table-2>tbody>tr>{
    width: 100%;
}
.tr{
    font-size: 14px !important;
    border:2px solid rgb(16, 214, 115);
   
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    width: 65%;
    height: auto;

}

#carro{
    width: 100%;
    height: auto;
     background: rgb(83, 83, 83);
    text-align: center;
    
}

.btn-add{
    width:20px;
    height: 20px;
    background: limegreen;
    font-weight: bold;
    text-align: center;
    border: none;
    margin: auto;
    cursor: pointer;
}
.btn-add:hover{
    background: rgb(136, 221, 136);
}
.btn-add:active{
    background: white;
    color: black;
}
.btn-rest{
    width:20px;
    height: 20px;
    background: crimson;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border:none;
    margin: auto;
    cursor: pointer;
}
.btn-rest:hover{
    background: rgb(226, 108, 132);
}
.btn-rest:active{
    background: white;
    color: black;
}

.btn-vaciar{
    width: 80px;
    height:25px;
    float:left !important;
    cursor: pointer;
    border:none;
    border-radius: 4px;
    background: orangered;
    color: white;
    font-weight: bold;
    font-style: oblique;
}
.btn-vaciar:hover{
    
    background: rgb(123,123,123);
}
.btn-vaciar:active{
    background: #ccc;
    border:1px solid grey;
    color:black;
}


@media (max-width:1010px){
    #main{
        width: 55% !important;
    }
    .table-1{
        margin-top: 10px;
         width:100%;
        
    }
 
     .table-2-on{
        border:5px solid rgb(16, 214, 115);
        width: 40% !important;
     }
    #table>tbody>tr>td{
        font-size: 10px;
      
    }
    h1{
        font-size: 26px;
    }
}

@media (max-width:920px){
    header>img{
        display: none;
    }
    table{
        width: 100%;
        height: auto;
    }
    .btn-add{
        font-size: 9px;
        width: 12px;
        height: 12px;
    }
    .btn-rest{
        font-size: 9px;
        width: 12px;
        height: 12px;
    }
}
@media (max-width:610px){

    #main{
        width: 50%;
        display: block;
    }
    .table-1{
        width:100% !important;
    }
    #table{
        width: 50%;
        font-size: 10px;
        text-align: center;
        margin: auto;
     
    }
    .table-2-on>tbody>tr{
        display: inline-block !important;
    }
    .table-1>tbody>tr{
        width:80px !important;
        height: 100px;
        display: inline-block !important;
    }
    h1{
        font-size: 24px;
    }
    .btn-add{
        font-size: 7px;
        width: 10px;
        height: 10px;
    }
    .btn-rest{
        font-size: 7px;
        width: 10px;
        height: 10px;
    }
  
}
@media (max-width:720px){
   #table{
    width: 40%;
   }
   .table-1{
    width: 55%;
    
   }
   .table-1>tbody>tr{
    width:90px !important;
    height: 100px;
    display: inline-block !important;
}
#table>thead>tr{
    display: none;
}
}


